.select-section {
    position: relative;
    min-width: 77px;
    width: 30%;
    height: 100%;
}

.select-item {
    background-color: #242424;
    max-width: 76%;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    height: auto;
    border: none;

}

@media screen and (min-width: 520px) {
    .select-item {
        max-width: 65%;
    }
}